@media only screen and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }
    .container {
        max-width: none;
    }
    .header-inside {
        height: 60px;
    }
    .top-logo {
        width: 150px;
    }
    .banner-svg {
        max-width: none;
        top: 70px;
    }
    .banner::after {
        height: 350px;
        background-size: auto;
    }
    .heading-h1 {
        font-size: 1.6rem;
        padding: 20px;
    }
    .age-tag {
        width: 80px;
        height: 70px;
        padding: 10px;
        margin-left: 30%;
        line-height: 1;
    }
    .banner-row {
        flex-direction: column;
    }
    .banner-lft, .banner-rgt {
        width: 100%;
        justify-content: center;
    }
    .banner-lft {
        padding: 20px;
    }
    .about-yoga {
        width: 100%;
        box-shadow: none;
    }
    .about-yoga_inner {
        padding: 20px;
    }
    .heading-h2 {
        font-size: 1.5rem;
    }
    .para-txt, .points-item {
        font-size: 1rem;
        padding-left: 30px;
    }
    .points-item::before {
        width: 18px;
        top: 7px;
    }
    .pack-btn {
        padding: 10px 20px;
    }
    .sessions-wrapper {
        flex-direction: column;
        padding: 20px;
        margin: 0;
    }
    .sessions-list {
        width: 100%;
        margin: 30px 0;
    }
    .heading-h3, .price-item {
        font-size: 1.3rem;
    }
    .time-wrap {
        font-size: 1.1rem;
    }
    .price-item .sub-text {
        font-size: 1rem;
    }
    .offer-tag {
        width: 55px;
        height: 55px;
        font-size: 0.8rem;
    }
    .blue-tag, .green-tag {
        right: -75px;
    }
    .best-seller::before {
        font-size: 0.85rem;
        background-position: 90px center;
    }
    .testimonial-wrapper {
        flex-direction: column;
        padding: 30px 20px
    }
    .testimonial-thumb {
        margin-bottom: 20px;
    }
    .testimonial-wrapper .sessions-list {
        margin: 40px 0;
    }
    .sessions-list:last-child {
        margin-bottom: 0;
    }
    .footer {
        border-radius: 35px 0 0 0;
        margin-top: 10px;
    }
    .footer-inside {
        flex-direction: column;
        padding: 30px;
    }
    .foot-list, .foot-list:first-child {
        width: 100%;
        padding: 0 0 20px 0;
        margin-top: 20px;
        border-bottom: solid 1px #26466c;
    }
    .foot-list:last-child {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .header-rgt {
        position: fixed;
        width: 80vw;
        height: calc(100vh - 61px);
        top: 61px;
        left: -100%;
        padding-top: 20px;
        background-color: var( --ac-white);
        box-shadow: 0 12px 10px rgba(0, 0, 0, 0.15);
        flex-direction: column;
        transition: all 0.3s ease-out;
    }
    .sidebar-is-open .header-rgt {
        z-index: 9999;
        left: 0;
        justify-content: flex-start;
        transition: all 0.3s ease-out;
    }
    .sidebar-is-open .header {
        border-bottom: solid 1px #eee;
    }
    .sidenav-overlay {
        display: block;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        z-index: 9;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease-out;
    }

    .sidebar-is-open .sidenav-overlay {
        opacity: 1;
        pointer-events: all;
        transition: all 0.3s ease-out;
    }
    .sub_nav-list {
        position: relative;
        top: 0;
        opacity: 0;
        box-shadow: none;
        display: none;
    }



    .sub_nav-list::before {
        display: none;
    }
    .sub_nav-list .nav-item {
        padding: 5px;
    }

    .nav-list .nav-item:hover .sub_nav-list{ top: 0; display: block;}


    .nav {
        width: 100%;
    }
    .nav-list {
        flex-direction: column;
    }
    .nav-item {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 10px 15px;
    }
    .nav-item:first-child {
        margin-right: 0;
    }
    .sub-menu::before {
        right: 60px;
    }
    .cta-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
        padding: 15px;
    }
    .btn {
        margin: 20px 0;
    }
    .site-menu-toggle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        padding: 0 2.5rem;
        text-transform: uppercase;
        color: #FEFEFE;
        outline: none;
        border: none;
        background: transparent;
        transition: color 0.4s, border 0.4s;
    }
    .site-menu-toggle {
        width: 60px;
        height: 60px;
        padding: 0;
        color: #222C2B;
    }
    .site-menu-toggle .icon {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border: none;
        background: transparent;
    }
    .site-menu-toggle .icon span {
        display: block;
        width: 24px;
        height: 2px;
        margin: 2px 0;
        background: #FEFEFE;
        transform: scaleX(1);
        transform-origin: left;
    }
    .site-menu-toggle .icon span {
        background: #222C2B;
    }
    .site-menu-toggle .icon span:nth-child(1) {
        transition: background-color 0.4s ease, transform 0.4s 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .site-menu-toggle .icon span:nth-child(2) {
        transition: background-color 0.4s ease, transform 0.4s 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .site-menu-toggle .icon span:nth-child(3) {
        transition: background-color 0.4s ease, transform 0.4s 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .site-menu-toggle .icon .close {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        transform: rotate(45deg);
        transform-origin: center;
    }
    .site-menu-toggle .icon .close::before, .site-menu-toggle .icon .close::after, .site-menu-toggle .icon .close::before, .site-menu-toggle .icon .close::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        background: #FEFEFE;
        transition: background-color 0.4s ease, transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .site-menu-toggle .icon .close::before, .site-menu-toggle .icon .close::before {
        width: 1.5rem;
        height: 2px;
        transform: translate(-50%, -50%) scaleX(0);
        transform-origin: right;
    }
    .site-menu-toggle .icon .close::before, .site-menu-toggle .icon .close::after {
        background: #222C2B;
    }
    .site-menu-toggle .icon .close::after, .site-menu-toggle .icon .close::after {
        width: 2px;
        height: 1.5rem;
        transform: translate(-50%, -50%) scaleY(0);
        transform-origin: top;
    }
    .site-menu-toggle .icon .close::before, .site-menu-toggle .icon .close::after {
        background: #222C2B;
    }
    .menu-is-open.site-menu-toggle .icon span:nth-child(1), .menu-is-open.site-menu-toggle .icon span:nth-child(1) {
        transition: background-color 0.3s ease, transform 0.4s 0s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .menu-is-open.site-menu-toggle .icon span:nth-child(2), .menu-is-open.site-menu-toggle .icon span:nth-child(2) {
        transition: background-color 0.3s ease, transform 0.4s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .menu-is-open.site-menu-toggle .icon span:nth-child(3), .menu-is-open.site-menu-toggle .icon span:nth-child(3) {
        transition: background-color 0.3s ease, transform 0.4s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .menu-is-open.site-menu-toggle .icon .close::before, .menu-is-open.site-menu-toggle .icon .close::after, .menu-is-open.site-menu-toggle .icon .close::before, .menu-is-open.site-menu-toggle .icon .close::after {
        transition: transform 0.4s 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .menu-is-open.site-menu-toggle .icon .close::before, .menu-is-open.site-menu-toggle .icon .close::before {
        transform: translate(-50%, -50%) scaleX(1);
        transform-origin: left;
    }
    .menu-is-open.site-menu-toggle .icon .close::after, .menu-is-open.site-menu-toggle .icon .close::after {
        transform: translate(-50%, -50%) scaleY(1);
        transform-origin: bottom;
    }
    .menu-is-open.site-menu-toggle .icon span, .menu-is-open.site-menu-toggle .icon span {
        transform: scaleX(0);
        transform-origin: right;
    }
}